* {
  font-family: sans-serif;
}

button {
  cursor: pointer;
}

.window {
  background-color: #E9F3F6;
  border: 1px solid #C4D5DF;
  border-radius: 2%;
  box-shadow: 2px 2px rgba(0,0,0,.3);
  height: 620px;
  width: 720px;
  transform-origin: center center;
  margin: 5vh auto
}

.container {
  display: inline-grid;
  grid-gap: 10px;
  grid-template-columns: 1fr 170px;
  grid-template-rows: 1fr 175px 10px;
  height: 560px;
  padding: 10px;
}

.item {
  border: 2px solid #D2DDE0;
  border-radius: 2px;
}

.bar {
  border: 0;
  grid-column: 1 / -1;
}

.top-bar {
  display: flex;
  padding: 10px;
}

.username {
  font-weight: bold;
  margin-bottom: 3px;
}

.logo {
  height: 100%;
  margin-right: 5px;
  width: 30px;
}

.bar__bottom {
  background: rgb(247,253,255);
  background: linear-gradient(180deg, rgba(247,253,255,1) 0%, rgba(214,227,234,1) 50%, rgba(238,249,250,1) 100%);  
  border-bottom: 1px solid #D2DDE0;
  border-top: 1px solid #D2DDE0;
  display: flex;
  height: 50px;
}

.img {
  background-color: #FAFBFD;
  max-height: 150px;
  padding: 10px;
  position: relative;
}

.img-display-picture {
  border: 1px solid #E4EBE3;
  padding: 2px;
}

.img-display-picture img {
  max-width: 125px;
  max-height: 125px
}

.chat-box {
  background-color: #FAFBFD;
  padding: 5% 0;
}

.message-scroll {
  height: 300px;
  overflow-y: auto;
}

.message {
  margin-left: 20px;
  width:fit-content;
}

.message-buttons {
  background: transparent;
  border: 0;
  font-size: 1.3rem;
}

.message-submit {
  display:block;
  float: right;
  position: relative;
  margin-top: -110px;
  margin-right: -20px;
  height: 12vh
}

.message-submit-button, .message-clear-button {
  height: 50%;
  margin-right: 2px;
}

.message-box {
  max-width: 87%;
}

/* .sent-message-info {
  align-items: center;
  background-color: #FBFBFF;
  border-top: 1px solid #D2DDE0;
  color: #8D8E88;
  display: flex;
  font-size: .85em;
  padding-left: 5px;
} */